<nav class="fh5co-nav" role="navigation">

  <div class="top-menu">
    <div class="container">
      <div class="row">
        <div class="col-xs-1">
          <div id="fh5co-logo"><a href="/">Learn<span>.</span></a></div>
        </div>
        <div class="col-xs-11 text-right menu-1">
          <ul>
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/courses">Courses</a></li>
            <li class="active"><a href="/todos">Assignments</a></li>
            <li class="btn-cta"><a href="/courses/new"><span>Add a new course</span></a></li>
            <li class="btn-cta"><a href="/todos/new"><span>Add new assignment</span></a></li>
            <li class="btn-cta"><a href="/login"><span><%=@user.name%></span></a></li>
            <li class="btn-cta"><a href="/logout"><span>Sign out</span></a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</nav>

<div class="main">
<h1 class="add-course">EDIT</h1>
<div class="contain">
  <div class="sign-up-content">
<form action="/todos/<%= @todo.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <h2 class="form-title">Edit <%=@todo.name%> Assignment</h2>
  <div class="form-textbox">
    <label for="name_field">Assignment: </label>
    <input type="text" name="name" value="<%=@todo.name%>" id="name_field"><br>
  </div>
  <div class="form-textbox">
    <label for="category_field">Category: </label>
    <input type="text" name="category" value="<%=@todo.category%>" id="category_field"><br>
  </div>
  <div class="form-textbox">
    <label for="deadline_field">Deadline: </label>
    <input type="text" name="deadline" value="<%=@todo.deadline%>" id="deadline_field"><br>
  </div>
  <textarea placeholder="Description:" name="description" rows="5" cols="40"></textarea>
  <div class="form-textbox">
    <input type="submit" value="Edit Assignment" class="submit">
  </div>
</form>
</div>
</div>
</div>
