<nav class="fh5co-nav" role="navigation">

  <div class="top-menu">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-1">
          <div id="fh5co-logo"><a href="/"><img src="/images/logo.png" alt="Road to Graduation"></a></div>
        </div>
        <div class="col-xs-11 text-right menu-1">
          <ul>
            <li class="btn-cta"><a href="/"><span><b>HOME</b></span></a></li>
            <li class="btn-cta"><a href="/courses"><span><b>Courses</b></span></a></li>
            <li class="btn-cta"><a href="/todos"><span><b>Assignments</b></span></a></li>
            <li class="btn-cta"><a href="/courses/new"><span><b>Add a new course</b></span></a></li>
            <li class="btn-cta"><a href="/todos/new"><span><b>Add new assignment</b></span></a></li>
            <li class="btn-cta"><a href="/login"><span><b><%=@user.name%></b></span></a></li>
            <li class="btn-cta"><a href="/logout"><span><b>Sign out</b></span></a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</nav>
<h1 class="log"><%=@course.name%></h1>
<div class="row">
  <%@course.to_dos[1..-1].each do |todo|%>

            <div class="col-sm-4 " >
                <div class="price-box">
                    <h1><b><%=@course.name%></b></h1>
                    <h3><b>Assignment: </b><%=todo.name%></h3>
                    <h3><b>Deadline: </b><%=todo.deadline%></h3>
                    <h3><b>Description: </b><%=todo.description%></h3>
                    <button class="btn btn-banner"><a href="/todos/<%=todo.id%>/edit">EDIT</a></button>
                    <form action="/todos/<%=todo.id%>/delete" method="post">
										  <input id="hidden" type="hidden" name="_method" value="delete">
										  <input class="btn btn-banner" type="submit" value="DELETE ASSIGNMENT">
										</form>
                </div>
            </div>
  <%end%>

</div>
